// Common styles of the project
* {
	font-family: Proxima Nova Regular, Arial, sans-serif;
}

html, body {
    height: 100%;
}

.page.noScroll{
    overflow: hidden;
}
.page__buffer {
    height: 50px;
}
.page__wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .page__wrapper {
    height: 100%;
}
