/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
	src: local('../fonts/ProximaNova/Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Semibold';
	src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot');
	src: local('../fonts/ProximaNova/Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url('../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/ProximaNova/ProximaNova-Bold.eot');
	src: local('../fonts/ProximaNova/Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot');
	src: local('../fonts/MuseoSansCyrl500/MuseoSansCyrl500'), local('MuseoSansCyrl500'),
		url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.woff') format('woff'),
		url('../fonts/MuseoSansCyrl500/MuseoSansCyrl500.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}