$headerTopMenuBackground: #f4f5f4;
$headerTopMenuTextColor: #646464;
$headerBottomMenuBackground: #004884;
$headerBottomMenuDropdown: #00953c;
$headerFormSubmitBtn: #00ae46;
$headerFormSubmitBtnHover: #008e46;
$headerBottomMenuTextColor: #ffffff;
$headerBottomMenuBasketHover: #003764;
$headerBottomMenuBasketIndicator: #00ae46;