$blur: rgba(0,72,132,0.5);
// ############# header top menu
$topMenuBackground: #f4f5f4;
$topMenuTextColor: #646464;
// ############# header middle container
$middleContainerTextColor: #646464;
$middleContainerTextColorHover: #00953c;
// ############ header botom Menu
$bottomMenuBackground: #004884;
$bottomMenuTextColor: #ffffff;
// ############ header botom Menu Dropdown
$bottomMenuDropdown: #00953c;
$bottomMenuDropdownHover: #00ae46;
$bottomMenuDropdownMenuBackground: #ffffff;
$bottomMenuDropdownMenuBackgroundHover: #e5ecf2;
$bottomMenuDropdownMenuText: #646464;
$bottomMenuDropdownMenuTextHover: #004884;
// ############ header botom Menu Search Form
$searchFormSubmitBtn: #00ae46;
$searchFormSubmitBtnHover: #00953c;
// ############ header botom Menu Search Form Search Results
$searchFormSearchResults: #f7fafb;
$searchFormSearchResultsContainer: #ffffff;
$searchFormSearchResultsContainerItemHover: #e5ecf2;
$searchFormSearchResultsContainerItemText: #343434;
$searchFormSearchResultsContainerItemTextHover: #004884;
$searchFormSearchResultsLink: #004884;
// ############ header botom Menu Search Form No Search Result
$searchFormNoSearchResult: #ffffff;
$searchFormNoSearchResultText: #646464;
$searchFormNoSearchResultLink: #004884;
// ############ header botom Menu Basket
$bottomMenuBasket: #003764;
$bottomMenuBasketHover: #01233E;
$bottomMenuBasketIndicator: #00ae46;
// ############ header botom Menu Basket Empty
$bottomMenuBasketEmptyBasket: #ffffff;
$bottomMenuBasketEmptyBasketText: #343434;
$bottomMenuBasketEmptyBasketTextLink: #004884;
// ############ header botom Menu Basket Full
$bottomMenuBasketFullBasket: #f7fafb;
$bottomMenuBasketFullBasketContainer: #ffffff;
$bottomMenuBasketFullBasketContainerItemHover: #e5ecf2;
$bottomMenuBasketFullBasketText: #343434;
$bottomMenuBasketFullBasketTextHover: #004884;
$bottomMenuBasketFullBasketTextLink: #004884;
$bottomMenuBasketFullBasketPriceColor: #004884;
$bottomMenuBasketFullBasketSalePriceColor: #ae0019;
$bottomMenuBasketFullBasketSaleOldPriceColor: #8E8E8E;
// ############ header botom Menu Basket Full buttons ToBasket
$bottomMenuBasketFullBasketToBasketBorder: #00ae46;
$bottomMenuBasketFullBasketToBasketText: #00ae46;
$bottomMenuBasketFullBasketToBasketBackgroundHover: #004884;
$bottomMenuBasketFullBasketToBasketBorderHover: #004884;
$bottomMenuBasketFullBasketToBasketTextHover: #ffffff;
// ############ header botom Menu Basket Full buttons doOrder
$bottomMenuBasketFullBasketDoOrderBackground: #00ae46;
$bottomMenuBasketFullBasketDoOrderBorder: #00ae46;
$bottomMenuBasketFullBasketDoOrderText: #ffffff;
$bottomMenuBasketFullBasketDoOrderBackgroundHover: #f7fafb;
$bottomMenuBasketFullBasketDoOrderBorderHover: #004884;
$bottomMenuBasketFullBasketDoOrderTextHover: #004884;
// ############ header botom Menu Basket Full Delete From Basket
$deleteFromBasketBackground: #f7fafb;
$deleteFromBasketContentBackground: #ffffff;
$deleteFromBasketContentH2: #343434;
// ############ header botom Menu Basket Full Delete From Basket Delet Btn
$deleteFromBasketDeleteBackground: #f7fafb;
$deleteFromBasketDeleteBorder: #00ae46;
$deleteFromBasketDeleteText: #00ae46;
$deleteFromBasketDeleteBackgroundHover: #004884;
$deleteFromBasketDeleteBorderHover: #004884;
$deleteFromBasketDeleteTextHover: #ffffff;
// ############ header botom Menu Basket Full Delete From Basket Cancel Btn
$deleteFromBaskeCancelBackground: #00ae46;
$deleteFromBaskeCancelBorder: #00ae46;
$deleteFromBaskeCancelText: #ffffff;
$deleteFromBaskeCancelBackgroundHover: #f7fafb;
$deleteFromBaskeCancelBorderHover: #004884;
$deleteFromBaskeCancelTextHover: #004884;
// ############ main container
$mainContainerText: #8e8e8e;
$mainContainerH1: #004884;
// ############ main container blogs container
$mainContainerBlogsContainerItemBorder: #e9eef6;
$mainContainerBlogsContainerItemContentDate: #8e8e8e;
$mainContainerBlogsContainerItemContentLink: #004884;
$mainContainerBlogsContainerItemContentText: #343434;
// ############ main container articles container
$mainContainerArticlesContainerText: #343434;
$mainContainerArticlesContainerLink: #004884;
$mainContainerArticlesContainerItemLink: #004884;
$mainContainerArticlesContainerItemText: #646464;
$mainContainerArticlesContainerItemBorder: #e9eef6;
// ############ main container page selector
$paleSelectorLink: #004884;
$paleSelectorLinkActiveBackground: #004884;
$paleSelectorLinkActive: #ffffff;
// ############ main container subscribe
$subscribeBackground: #e7eff4;
$subscribeContainerH3: #343434;
$subscribeContainerText: #858585;
$subscribeFormEmailBorder: #ffffff;
$subscribeFormEmailBorderFocus: #00ae46;
$subscribeFormEmailText: #858585;
$subscribeFormBtnText: #ffffff;
$subscribeFormBtnBorder: #00ae46;
$subscribeFormBtnBackground: #00ae46;
$subscribeFormBtnTextHover: #00ae46;
$subscribeFormBtnBackgroundHover: #ffffff;
// ############ main container subscribe thanks
$subscribeThanks: #343434;
$subscribeThanksBackground: #f7fafb;
$subscribeThanksContainerBackground: #ffffff;
$subscribeThanksBtnBackground: #00ae46;
$subscribeThanksBtnBorder: #00ae46;
$subscribeThanksBtnText: #ffffff;
$subscribeThanksBtnBackgroundHover: #ffffff;
$subscribeThanksBtnTextHover: #00ae46;
// ############ footer
$footerText: #ffffff;
$footerBackground: #004884;
$footerPrivacyPolicy: #3c92d9;
// ############ copyright
$copyrightBackground: #ffffff;
$copyrightText: #343434;
$copyrightAuthorText: #004884;
$copyrightAuthorTextBorder: #004884;