<div class="footerBackground">	
	<div class="footer">
		<div class="footer_logo">
			<a href="#" class="footer_logo__link"><img class="footer_logo__link__img" src="static/img/assets/footer/logo.png" alt=""></a>
			<a href="#" class="footer_logo__privacyPolicy">Политика конфиденциальности</a>
		</div>
		<div class="footer_menu">
			<a href="#" class="footer_menu__item">Блог</a>
			<a href="#" class="footer_menu__item">О нас</a>
			<a href="#" class="footer_menu__item">Оплата</a>
			<a href="#" class="footer_menu__item">Контакты</a>
			<a href="#" class="footer_menu__item">Доставка</a>
		</div>
		<div class="footer_content">
			<a href="#" class="footer_content__item">HP</a>
			<a href="#" class="footer_content__item">Panasonic</a>
			<a href="#" class="footer_content__item">Samsung</a>
			<a href="#" class="footer_content__item">Canon</a>
			<a href="#" class="footer_content__item">HP</a>
			<a href="#" class="footer_content__item">Panasonic</a>
			<a href="#" class="footer_content__item">HP</a>
			<a href="#" class="footer_content__item">Canon</a>
			<a href="#" class="footer_content__item">HP</a>
			<a href="#" class="footer_content__item">Xerox</a>
			<a href="#" class="footer_content__item">HP</a>
			<a href="#" class="footer_content__item">Xerox</a>
			<a href="#" class="footer_content__item">Samsung</a>
			<a href="#" class="footer_content__item">Xerox</a>
			<a href="#" class="footer_content__item">Samsung</a>
		</div>
		<div class="footer_contacts">
			<a href="mailto:#" class="footer_contacts__mail"><img src="static/img/assets/footer/mail.png" alt="" class="footer_contacts__mail__img"> printpro@gmail.com</a>
			<div class="footer_contacts__phone">
				<img src="static/img/assets/footer/phone.png" alt="" class="footer_contacts__phone__img">
				<a href="tel:+77771455454" class="footer_contacts__phone__item">8 777 145 54 54</a>
				<a href="tel:+77014988989" class="footer_contacts__phone__item">8 701 498 89 89</a>
			</div>
			<div class="footer_contacts__time">
				<img src="static/img/assets/footer/time.png" alt="" class="footer_contacts__time__img">
				<p class="footer_contacts__time__text">Пн-Вс 9:00 - 19:00</p>
			</div>
		</div>
	</div>
</div>