.header {
	width: 100%;
	min-height: 170px;
}
.blur {
	display: none;
}
.blur.visible {
	z-index: 50;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: $blur;
}