.header {
	width: 100%;
	min-height: 170px;
}
.blur, .blurLV2 {
	display: none;
}
.blur.visible, .blurLV2.visible {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: $blur;
}
.blur {
	z-index: 100;
}
.blur.LV2 {
	z-index: 1000;
}
// Media until 1359px
@media (max-width: 1359px) {
	// .header {
	// 	width: 1024px;
	// }
}