<div class="subscribeBackground">
	<div class="subscribe">
		<div class="subscribe_container">
			<h3 class="subscribe_container__h3">Будьте в курсе всех акций и выгодных предложений</h3>
			<div class="subscribe_container__subscribeForm">
				<form action="" method="POST" name="subscribeForm">
					<input type="email" name="subscribeEmail" class="subscribeForm_email" placeholder="Укажите ваш E-mail" required>
					<img class="subscribeForm_icon" src="static/img/assets/subscribe/email.png" alt="">
					<input type="submit" name="subscribeBtn" class="subscribeForm_btn" value="Подписаться">
				</form>
			</div>
			<p class="subscribe_container__text">Нажимая кнопку «Подписаться», я подтверждаю свою дееспособность и даю согласие по установленной форме на обработку своих персональных данных</p>
		</div>
	</div>
	<div class="subscribe_thanks">
		<div class="thanks_content">
			<h2 class="thanks_content__h2">Спасибо !</h2>
			<p class="thanks_content__text">Ваша заявка принята</p>
			<img src="static/img/assets/subscribe/close.png" alt="" class="thanks_content__close">
		</div>
		<input type="button" class="thanks_btn"  value="Хорошо">
	</div>
</div>