.header_bottomMenuBackground {
	width: 100%;
	height: 55px;
	background-color: $headerBottomMenuBackground;
}
.header_bottomMenu {
	width: 1360px;
	height: 100%;
	box-sizing: border-box;
	padding: 0px 30px;
	margin: 0px auto;
	clear: both;
	display: flex;
	flex-direction: row;
	&__dropdown {
		z-index: 500;
		width: 303px;
		height: 100%;
		background-color: $headerBottomMenuDropdown;
		position: relative;
		box-sizing: border-box;
		padding-left: 72px;
		cursor: pointer;
		&__humbergerIco {
			position: absolute;
			top: 20px;
			left: 30px;
		}
		&__text {
			line-height: 55px;
			color: $headerBottomMenuTextColor;
			font-family: Proxima Nova Semibold, Arial, sans-serif;
			font-size: 18px;
			margin: 0px;
		}
		&__arrowDownIco {
			position: absolute;
			top: 26px;
			right: 58px;
		}
		&__menu.open {
			display: block;
		}
		&__menu {
			display: none;
			width: 303px;
			min-height: 362px;
			height: auto;
			position: absolute;
			top: 55px;
			left: 0px;
			background-color: $headerBottomMenuDropdovnMenuBackground;
			z-index: 500;
			&__item {
				width: 100%;
				height: 62px;
				position: relative;
				box-sizing: border-box;
				padding-left: 31px;
				&:hover {
					background-color: $headerBottomMenuDropdovnMenuBackgroundHover;
				}
				&:hover &__arrowRightIco {
					display: block;
				}
				&__arrowRightIco {
					display: none;
					position: absolute;
					top: 26px;
					right: 30px;
				}
				&__text {
					margin: 0px;
					line-height: 62px;
					color: $headerBottomMenuDropdovnMenuText;
				}
				&:hover &__text {
					font-family: Proxima Nova Semibold, Arial, sans-serif;
					color: $headerBottomMenuDropdovnMenuTextHover;
				}
			}
		}
	}
// Search Form
	&__searchForm {
		width: 772px;
		height: 100%;
		position: relative;
		z-index: 500;
		&__textArea {
			outline: none;
			width: 566px;
			height: 38px;
			font-size: 16px;
			position: absolute;
			top: 9px;
			left: 15px;
			border: none;
			box-sizing: border-box;
			padding-left: 55px;	
			padding-right: 20px;		
		}
		&__submitBtn {
			outline: none;
			width: 176px;
			height: 38px;
			font-size: 18px;
			position: absolute;
			top: 9px;
			right: 15px;
			cursor: pointer;
			border: none;
			background-color: $headerSearchFormSubmitBtn;
			font-family: Proxima Nova Bold, Arial, sans-serif;
			color: $headerBottomMenuTextColor;
			&:hover {
				background-color: $headerSearchFormSubmitBtnHover;
			}
		}
		&__searchIco {
			position: absolute;
			top: 18px;
			left: 38px;
		}
// no Search Result
		&__noSearchResult.visible {
			display: block;
		}
		&__noSearchResult {
			display: none;
			width: 566px;
			height: 131px;
			margin-top: 55px;
			margin-left: 15px;
			background-color: $headerSearchFormNoSearchResult;
			position: relative;
			overflow: hidden;
			box-sizing: border-box;
			padding-left: 40px;
			&__text {
				margin: 0px;
				color: $headerSearchFormNoSearchResultText;
				font-size: 18px;
				margin-top: 40px;
			}
			&__link {
				display: block;
				width: 175px;
				margin: 0px;
				margin-top: 18px;
				text-decoration: none;
				box-sizing: border-box;
				padding-right: 15px;
				color: $headerSearchFormNoSearchResultLink;
				font-size: 18px;
				position: relative;
				font-family: Proxima Nova Semibold, Arial, sans-serif;
				&:hover {
					text-decoration: underline;
				}
			}
			&__linkArrow {
				position: absolute;
				top: 4px;
				right: 0px;
			}
			&__icon {
				position: absolute;
				right: -12px;
				top: 9px;
			}
		}
// Search Results
		&__searchResults.visible {
			display: block;
		}
		&__searchResults {
			display: none;
			width: 566px;
			height: 451px;
			margin-top: 55px;
			margin-left: 15px;
			background-color: $headerSearchFormSearchResults;
			box-sizing: border-box;
			padding-right: 15px;
			&__container {
				width: 566px;
				height: 373px;
				overflow-y: scroll;
				background-color: $headerSearchFormSearchResultsContainer;
				&__item {
					width: 100%;
					height: 75px;
					box-sizing: border-box;
					padding-left: 30px;
					cursor: pointer;
					&:hover {
						background-color: $headerSearchFormSearchResultsContainerItemHover;
					}
					&:hover &__text{
						color: $headerSearchFormSearchResultsContainerItemTextHover;
						font-family: Proxima Nova Semibold, Arial, sans-serif;
					}
					&__text {
						margin: 0px;
						box-sizing: border-box;
						padding-top: 30px;
						font-size: 18px;
						color: $headerSearchFormSearchResultsContainerItemText;
					}
				}
			}
			&__link {
				display: block;
				font-size: 18px;
				width: 147px;
				margin: 0px auto;
				margin-top: 32px;
				box-sizing: border-box;
				padding-right: 5px;
				position: relative;
				text-decoration: none;
				color: $headerSearchFormSearchResultsLink;
				font-family: Proxima Nova Bold, Arial, sans-serif;
				&:hover {
					text-decoration: underline;
				}
			}
			&__linkArrow {
				position: absolute;
				top: 5px;
				right: 0px;
			}
		}
	}
	&__basket {
		z-index: 500;
		width: 225px;
		height: 100%;
		display: block;
		position: relative;
		box-sizing: border-box;
		padding-left: 99px;
		cursor: pointer;
		text-decoration: none;
		&__bascetIco {
			position: absolute;
			top: 17px;
			left: 53px;
		}
		&__text {
			font-family: Proxima Nova Semibold, Arial, sans-serif;
			color: $headerBottomMenuTextColor;		
			line-height: 55px;
			margin: 0px;
			font-size: 18px;	
		}
		&:hover {
			background-color: $headerBottomMenuBasketHover;
		}
		&__basketIndicator {
			position: absolute;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			font-size: 14px;
			font-family: Museo Sans Cyrl, Arial, sans-serif;
			color: $headerBottomMenuTextColor;
			line-height: 15px;
			text-align: center;
			background-color: $headerBottomMenuBasketIndicator;
			top: 13px;
			left: 68px;
		}
		// &__emptyBasket {
		// 	width: 666px;
		// 	height: 132px;
		// 	margin-top: 55px;
		// 	// position: absolute;
		// 	// top: 55px;
		// 	// right: 30px;
		// 	background-color: green;
		// 	// &__icon
		// }
	}
}