<div class="header_bottomMenuBackground">
	<div class="header_bottomMenu">
		<!-- ##############dropdown############### -->
		<div class="header_bottomMenu__dropdown">
			<img src="static/img/assets/header/hamburger.png" alt="" class="header_bottomMenu__dropdown__humbergerIco">
			<p class="header_bottomMenu__dropdown__text">Производители</p>
			<img src="static/img/assets/header/arrow_down.png" alt="" class="header_bottomMenu__dropdown__arrowDownIco">
			<!-- ################dropdown__menu#################### -->
			<div class="header_bottomMenu__dropdown__menu">
				<div class="header_bottomMenu__dropdown__menu__item">
					<p class="header_bottomMenu__dropdown__menu__item__text">Brother</p>
					<img src="static/img/assets/header/arrow_right.png" alt="" class="header_bottomMenu__dropdown__menu__item__arrowRightIco">
				</div>
				<div class="header_bottomMenu__dropdown__menu__item">
					<p class="header_bottomMenu__dropdown__menu__item__text">Hi-Black</p>
					<img src="static/img/assets/header/arrow_right.png" alt="" class="header_bottomMenu__dropdown__menu__item__arrowRightIco">
				</div>
				<div class="header_bottomMenu__dropdown__menu__item">
					<p class="header_bottomMenu__dropdown__menu__item__text">XEROX</p>
					<img src="static/img/assets/header/arrow_right.png" alt="" class="header_bottomMenu__dropdown__menu__item__arrowRightIco">
				</div>
				<div class="header_bottomMenu__dropdown__menu__item">
					<p class="header_bottomMenu__dropdown__menu__item__text">EPSON</p>
					<img src="static/img/assets/header/arrow_right.png" alt="" class="header_bottomMenu__dropdown__menu__item__arrowRightIco">
				</div>
				<div class="header_bottomMenu__dropdown__menu__item">
					<p class="header_bottomMenu__dropdown__menu__item__text">Europrint</p>
					<img src="static/img/assets/header/arrow_right.png" alt="" class="header_bottomMenu__dropdown__menu__item__arrowRightIco">
				</div>
				<div class="header_bottomMenu__dropdown__menu__item">
					<p class="header_bottomMenu__dropdown__menu__item__text">Ricoh</p>
					<img src="static/img/assets/header/arrow_right.png" alt="" class="header_bottomMenu__dropdown__menu__item__arrowRightIco">
				</div>
			</div>
		</div>
		<!-- ###############searchForm################ -->
		<div class="header_bottomMenu__searchForm">
			<form action="#" method="POST" name="searchForm">
				<input class="header_bottomMenu__searchForm__textArea" type="text" name="searchQuery" placeholder="Название картриджа или принтера,например «CF283A HP»">
				<input class="header_bottomMenu__searchForm__submitBtn" type="submit" name="searchBtn" value="Найти">
				<img class="header_bottomMenu__searchForm__searchIco" src="static/img/assets/header/searchIco.png" alt="">
				<!-- Блок "Нет результатов поиска" -->
				<!-- <div class="header_bottomMenu__searchForm__noSearchResult">
					<p class="header_bottomMenu__searchForm__noSearchResult__text">Извините, по вашему запросу ничего не найдено</p>
					<a href="#" class="header_bottomMenu__searchForm__noSearchResult__link">Перейти в каталог
						<img src="static/img/assets/header/arrow_right.png" alt="" class="header_bottomMenu__searchForm__noSearchResult__linkArrow"></a>
					<img src="static/img/assets/header/search_big.png" alt="" class="header_bottomMenu__searchForm__noSearchResult__icon">
				</div> -->
				<!-- Блок "Результатов поиска" -->
				<div class="header_bottomMenu__searchForm__searchResults">
					<div class="header_bottomMenu__searchForm__searchResults__container">
						<div class="header_bottomMenu__searchForm__searchResults__container__item">
							<p class="header_bottomMenu__searchForm__searchResults__container__item__text">Картридж CF283A HP Laserjet</p>
						</div>
						<div class="header_bottomMenu__searchForm__searchResults__container__item">
							<p class="header_bottomMenu__searchForm__searchResults__container__item__text">Картридж CF283A HP Laserjet Pro M125/M127f RETECH</p>
						</div>
						<div class="header_bottomMenu__searchForm__searchResults__container__item">
							<p class="header_bottomMenu__searchForm__searchResults__container__item__text">Картридж CF283A HP Laserjet Pro M125/M127f</p>
						</div>
						<div class="header_bottomMenu__searchForm__searchResults__container__item">
							<p class="header_bottomMenu__searchForm__searchResults__container__item__text">Картридж CF283A HP Laserjet</p>
						</div>
						<div class="header_bottomMenu__searchForm__searchResults__container__item">
							<p class="header_bottomMenu__searchForm__searchResults__container__item__text">Картридж CF283A HP Laserjet</p>
						</div>
						<div class="header_bottomMenu__searchForm__searchResults__container__item">
							<p class="header_bottomMenu__searchForm__searchResults__container__item__text">Картридж CF283A HP Laserjet</p>
						</div>
						<div class="header_bottomMenu__searchForm__searchResults__container__item">
							<p class="header_bottomMenu__searchForm__searchResults__container__item__text">Картридж CF283A HP Laserjet</p>
						</div>
					</div>
					<a href="#" class="header_bottomMenu__searchForm__searchResults__link">Все результаты <img src="static/img/assets/header/arrow_right.png" alt="" class="header_bottomMenu__searchForm__searchResults__linkArrow"></a>
				</div>
			</form>
		</div>
		<!-- ##############basket########### -->
		<a href="#" class="header_bottomMenu__basket">
			<img src="static/img/assets/header/basket.png" alt="" class="header_bottomMenu__basket__bascetIco">
			<p class="header_bottomMenu__basket__text">Корзина</p>
			<span class="header_bottomMenu__basket__basketIndicator">10</span>
		</a>
<!-- 		<div class="header_bottomMenu__basket__emptyBasket">
			<p class="header_bottomMenu__basket__emptyBasket__text">Ваша корзина пуста, выберите товар в каталоге</p>
			<a href="#" class="header_bottomMenu__basket__emptyBasket__link">Перейти в каталог
			<img src="static/img/assets/header/arrow_right.png" alt="" class="header_bottomMenu__basket__emptyBasket__linkArrow"></a>
			<img src="static/img/assets/header/big_basket.png" alt="" class="header_bottomMenu__basket__emptyBasket__icon">
		</div> -->
	</div>
</div>