.header_bottomMenuBackground {
	width: 100%;
	height: 55px;
	background-color: $headerBottomMenuBackground;
}
.header_bottomMenu {
	width: 1360px;
	height: 100%;
	box-sizing: border-box;
	padding: 0px 30px;
	margin: 0px auto;
	clear: both;
	display: flex;
	flex-direction: row;
	&__dropdown {
		z-index: 500;
		width: 303px;
		height: 100%;
		background-color: $headerBottomMenuDropdown;
		position: relative;
		box-sizing: border-box;
		padding-left: 72px;
		cursor: pointer;
		&__humbergerIco {
			position: absolute;
			top: 20px;
			left: 30px;
		}
		&__text {
			line-height: 55px;
			color: $headerBottomMenuTextColor;
			font-family: Proxima Nova Semibold, Arial, sans-serif;
			font-size: 18px;
			margin: 0px;
		}
		&__arrowDownIco {
			position: absolute;
			top: 26px;
			right: 58px;
		}
		&__menu.open {
			display: block;
		}
		&__menu {
			display: none;
			width: 303px;
			min-height: 362px;
			height: auto;
			position: absolute;
			top: 55px;
			left: 0px;
			background-color: $headerBottomMenuDropdovnMenuBackground;
			z-index: 500;
			&__item {
				width: 100%;
				height: 62px;
				position: relative;
				box-sizing: border-box;
				padding-left: 31px;
				&:hover {
					background-color: $headerBottomMenuDropdovnMenuBackgroundHover;
				}
				&:hover &__arrowRightIco {
					display: block;
				}
				&__arrowRightIco {
					display: none;
					position: absolute;
					top: 26px;
					right: 30px;
				}
				&__text {
					margin: 0px;
					line-height: 62px;
					color: $headerBottomMenuDropdovnMenuText;
				}
				&:hover &__text {
					font-family: Proxima Nova Semibold, Arial, sans-serif;
					color: $headerBottomMenuDropdovnMenuTextHover;
				}
			}
		}
	}
// Search Form
	&__searchForm {
		width: 772px;
		height: 100%;
		position: relative;
		z-index: 500;
		&__textArea {
			outline: none;
			width: 566px;
			height: 38px;
			font-size: 16px;
			position: absolute;
			top: 9px;
			left: 15px;
			border: none;
			box-sizing: border-box;
			padding-left: 55px;	
			padding-right: 20px;		
		}
		&__submitBtn {
			outline: none;
			width: 176px;
			height: 38px;
			font-size: 18px;
			position: absolute;
			top: 9px;
			right: 15px;
			cursor: pointer;
			border: none;
			background-color: $headerSearchFormSubmitBtn;
			font-family: Proxima Nova Bold, Arial, sans-serif;
			color: $headerBottomMenuTextColor;
			&:hover {
				background-color: $headerSearchFormSubmitBtnHover;
			}
		}
		&__searchIco {
			position: absolute;
			top: 18px;
			left: 38px;
		}
// no Search Result
		&__noSearchResult.visible {
			display: block;
		}
		&__noSearchResult {
			display: none;
			width: 566px;
			height: 131px;
			margin-top: 55px;
			margin-left: 15px;
			background-color: $headerSearchFormNoSearchResult;
			position: relative;
			overflow: hidden;
			box-sizing: border-box;
			padding-left: 40px;
			&__text {
				margin: 0px;
				color: $headerSearchFormNoSearchResultText;
				font-size: 18px;
				margin-top: 40px;
			}
			&__link {
				display: block;
				width: 175px;
				margin: 0px;
				margin-top: 18px;
				text-decoration: none;
				box-sizing: border-box;
				padding-right: 15px;
				color: $headerSearchFormNoSearchResultLink;
				font-size: 18px;
				position: relative;
				font-family: Proxima Nova Semibold, Arial, sans-serif;
				&:hover {
					text-decoration: underline;
				}
			}
			&__linkArrow {
				position: absolute;
				top: 4px;
				right: 0px;
			}
			&__icon {
				position: absolute;
				right: -12px;
				top: 9px;
			}
		}
// Search Results
		&__searchResults.visible {
			display: block;
		}
		&__searchResults {
			display: none;
			width: 566px;
			height: 451px;
			margin-top: 55px;
			margin-left: 15px;
			background-color: $headerSearchFormSearchResults;
			box-sizing: border-box;
			padding-right: 15px;
			&__container {
				width: 566px;
				height: 373px;
				overflow-y: scroll;
				background-color: $headerSearchFormSearchResultsContainer;
				&__item {
					width: 100%;
					min-height: 75px;
					height: auto;
					box-sizing: border-box;
					padding-top: 30px;
					padding-bottom: 30px;
					padding-left: 30px;
					cursor: pointer;
					&:hover {
						background-color: $headerSearchFormSearchResultsContainerItemHover;
					}
					&:hover &__text{
						color: $headerSearchFormSearchResultsContainerItemTextHover;
						font-family: Proxima Nova Semibold, Arial, sans-serif;
					}
					// &__item:after {
					//     left: 30px;
					//     right: 0;
					//     bottom: 0;
					//     position: absolute;
					//     content: '';
					//     width: calc(100% - 50px);
					//     height: 1px;
					//     background-color: #e9eef6;
					// }
					&__text {
						margin: 0px;
						box-sizing: border-box;
						padding-right: 50px;
						font-size: 18px;
						color: $headerSearchFormSearchResultsContainerItemText;
					}
				}
			}
			&__link {
				display: block;
				font-size: 18px;
				width: 147px;
				margin: 0px auto;
				margin-top: 32px;
				box-sizing: border-box;
				padding-right: 5px;
				position: relative;
				text-decoration: none;
				color: $headerSearchFormSearchResultsLink;
				font-family: Proxima Nova Bold, Arial, sans-serif;
				&:hover {
					text-decoration: underline;
				}
			}
			&__linkArrow {
				position: absolute;
				top: 5px;
				right: 0px;
			}
		}
	}
// basket
	&__basket {
		z-index: 500;
		width: 225px;
		height: 100%;
		display: block;
		position: relative;
		box-sizing: border-box;
		padding-left: 99px;
		cursor: pointer;
		text-decoration: none;
		background-color: $headerBottomMenuBasket;
		&__bascetIco {
			position: absolute;
			top: 17px;
			left: 53px;
		}
		&__text {
			font-family: Proxima Nova Semibold, Arial, sans-serif;
			color: $headerBottomMenuTextColor;		
			line-height: 55px;
			margin: 0px;
			font-size: 18px;	
		}
		&__basketIndicator {
			position: absolute;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			font-size: 14px;
			font-family: Museo Sans Cyrl, Arial, sans-serif;
			color: $headerBottomMenuTextColor;
			line-height: 15px;
			text-align: center;
			background-color: $headerBottomMenuBasketIndicator;
			top: 13px;
			left: 68px;
		}
// Empty Basket
		&__emptyBasket.open {
			display: block;
		}
		&__emptyBasket {
			display: none;
			width: 666px;
			height: 132px;
			float: right;
			background-color: $headerBottomMenuBasketEmptyBasket;
			position: relative;
			overflow: hidden;
			box-sizing: border-box;
			padding-left: 40px;
			&__icon {
				position: absolute;
				top: 2px;
				right: -40px;
			}
			&__text {
				margin: 0px;
				margin-top: 40px;
				font-size: 16px;
			}
			&__link {
				display: block;
				box-sizing: border-box;
				width: 160px;
				padding-right: 20px;
				margin: 0px;
				margin-top: 19px;
				font-size: 16px;
				color: $headerBottomMenuBasketEmptyBasketTextLink;
				font-family: Proxima Nova Semibold, Arial, sans-serif;
				position: relative;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			&__linkArrow {
				position: absolute;
				right: 0px;
				top: 3px;
			}
		}
// Full Basket
		&__fullBasket.open {
			display: block;
		}
		&__fullBasket {
			cursor: default;
			display: none;
			width: 666px;
			height: 463px;
			float: right;
			background-color: $headerBottomMenuBasketFullBasket;
			text-align: center;
			&__container {
				width: 100%;
				height: 303px;
				overflow-y: scroll;
				background-color: $headerBottomMenuBasketFullBasketContainer;
				&__item {
					width: 100%;
					min-height: 71px;
					height: auto;
					display: flex;
					flex-direction: row;
					&__product {
						width: 477px;
						min-height: 70px;
						height: auto;
						box-sizing: border-box;
						padding: 30px;
						text-align: left;
						color: $headerBottomMenuBasketFullBasketText;
						font-size: 18px;
						&__name {
							margin: 0px;
						}
					}
					&:hover &__product__name {
						color: $headerBottomMenuBasketFullBasketTextHover;
						font-family: Proxima Nova Bold, Arial, sans-serif;
					}
					&:hover {
						background-color: $headerBottomMenuBasketFullBasketContainerItemHover;
					}
					&__price {
						width: 125px;
						text-align: right;
						.price__currentPrice {
							margin: 0;
							margin-top: 30px;
							.currentPrice {
								font-family: Proxima Nova Bold, Arial, sans-serif;
								color: $priceColor;
								font-size: 24px;
							}
						}
						.price__oldPrice {
							display: none;
						}
					}
					&__price.sale {
						.price__oldPrice {
							display: block;
							margin: 0;
							.OldPrice, .money {
								color: grey;
								text-decoration: line-through;
							}
						}
						.price__currentPrice {
							margin: 0;
							margin-top: 30px;
							.currentPrice {
								font-family: Proxima Nova Bold, Arial, sans-serif;
								color: red;
								font-size: 24px;
							}
							.money {
								color: red;
							}
						}
					}
					&__deleteProduct {
						width: 50px;
						box-sizing: border-box;
						padding-top: 33px;
						img {
							cursor: pointer;
						}
					}
				}
			}
			&__text {
				margin: 0px;
				font-size: 20px;
				margin-top: 30px;
			}
			&__totalPrice {
				font-family: Proxima Nova Bold, Arial, sans-serif;
				color: $priceColor;
			}
			&__money {
				font-size: 12px;
				font-weight: 800;
				color: $priceColor;
			}
			&__link {
				margin-top: 25px;
				display: inline-block;
				width: 226px;
				height: 45px;
				text-align: center;
				line-height: 45px;
				box-sizing: border-box;
				text-decoration: none;
				font-family: Proxima Nova Bold, Arial, sans-serif;
				&.toBasket {
					border: 2px solid $headerBottomMenuBasketFullBasketButtons;
					color: $headerBottomMenuBasketFullBasketButtons;
				}
				&.doOrder {
					border: 2px solid $headerBottomMenuBasketFullBasketButtons;
					background-color: $headerBottomMenuBasketFullBasketButtons;
					color: $headerBottomMenuBasketFullBasketButtonsText;
					margin-left: 10px;
				}
			}
		}
	}
}
.money {
	font-size: 12px;
	font-weight: 800;
	color: $priceColor;
}