<div class="header_bottomMenuBackground">
	<div class="header_bottomMenu">
		<div class="header_bottomMenu__dropdown">
			<img src="static/img/assets/header/hamburger.png" alt="" class="header_bottomMenu__dropdown__humbergerIco">
			<p class="header_bottomMenu__dropdown__text">Производители</p>
			<img src="static/img/assets/header/arrow_down.png" alt="" class="header_bottomMenu__dropdown__arrowIco">
		</div>
		<div class="header_bottomMenu__searchForm">
			<form action="#" method="POST" name="searchForm">
				<input class="header_bottomMenu__searchForm__textArea" type="text" name="searchQuery" placeholder="Название картриджа или принтера,например «CF283A HP»">
				<input class="header_bottomMenu__searchForm__submitBtn" type="submit" name="searchBtn" value="Найти">
				<img class="header_bottomMenu__searchForm__searchIco" src="static/img/assets/header/searchIco.png" alt="">
			</form>
		</div>
		<a href="#" class="header_bottomMenu__basket">
			<img src="static/img/assets/header/basket.png" alt="" class="header_bottomMenu__basket__bascetIco">
			<p class="header_bottomMenu__basket__text">Корзина</p>
			<span class="header_bottomMenu__basket__basketIndicator">10</span>
		</a>
	</div>
</div>