<div class="header_topMenuBackgound">
	<div class="header_topMenu">
		<div class="header_topMenu__leftSide">
			<a href="#" class="header_topMenu__leftSide__item blog">Блог</a>
			<a href="#" class="header_topMenu__leftSide__item pay">Оплата</a>
			<a href="#" class="header_topMenu__leftSide__item delivery">Доставка</a>
			<a href="#" class="header_topMenu__leftSide__item aboutUs">О нас</a>
			<a href="#" class="header_topMenu__leftSide__item contacts">Контакты</a>
		</div>
		<div class="header_topMenu__rightSide">
			<a href="#" class="header_topMenu__rightSide__item favorites">
				<img class="favorites__img" src="static/img/assets/header/favorit.png" alt="">
				<p class="header_topMenu__rightSide__item__text favorites_link">Избранное</p>
			</a>
			<a href="#" class="header_topMenu__rightSide__item personalOffice">
					<img class="personalOffice__img" src="static/img/assets/header/person.png" alt="">
					<p class="header_topMenu__rightSide__item__text personalOffice_link">Личный кабинет</p>
			</a>
		</div>
	</div>
</div>