.header_topMenuBackgound {
	width: 100%;
	height: 41px;
	background-color: $headerTopMenuBackground;
}
.header_topMenu {
	width: 1360px;
	height: 100%;
	margin: 0px auto;
	padding: 0px 30px;
	box-sizing: border-box;
	font-size: 16px;
}
.siteMenu {
	float: left;
	width: 400px;
	display: flex;
	justify-content: space-between;
	&__item {
		line-height: 41px;
		text-decoration: none;
		color: $headerTopMenuTextColor;
		&:hover {
			text-decoration: underline;
		}
	}
}
.userMenu {
	float: right;
	width: 320px;
	display: flex;
	justify-content: space-between;
	&__item {
		height: 100%;
		box-sizing: border-box;
		position: relative;
		&__text {
			line-height: 41px;
			margin: 0px;
			color: $headerTopMenuTextColor;
		}
		&.favorites {
			width: 130px;
			padding-left: 29px;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&.personalOffice {
			width: 160px;
			padding-left: 35px;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.favorites__img{
			position: absolute;
			top: 10px;
			left: 0px;
		}
		.personalOffice__img {
			position: absolute;
			top: 8px;
			left: 0px;	
		}
	}
}