<div class="header_topMenuBackgound">
	<div class="header_topMenu">
		<div class="topMenu__siteMenu siteMenu">
			<a href="#" class="siteMenu__item blog">Блог</a>
			<a href="#" class="siteMenu__item pay">Оплата</a>
			<a href="#" class="siteMenu__item delivery">Доставка</a>
			<a href="#" class="siteMenu__item aboutUs">О нас</a>
			<a href="#" class="siteMenu__item contacts">Контакты</a>
		</div>
		<div class="topMenu__userMenu userMenu">
			<a href="#" class="userMenu__item favorites">
				<img class="favorites__img" src="static/img/assets/header/favorit.png" alt="">
				<p class="userMenu__item__text">Избранное</p>
			</a>
			<a href="#" class="userMenu__item personalOffice">
					<img class="personalOffice__img" src="static/img/assets/header/person.png" alt="">
					<p class="userMenu__item__text">Личный кабинет</p>
			</a>
		</div>
	<div class="header_hamburgerMenu">Меню
		<a href="#" class="hamburgerMenu__item">Блог</a>
		<a href="#" class="hamburgerMenu__item">Оплата</a>
		<a href="#" class="hamburgerMenu__item">Доставка</a>
		<a href="#" class="hamburgerMenu__item">О нас</a>
		<a href="#" class="hamburgerMenu__item">Контакты</a>
		<a href="#" class="hamburgerMenu__item">Избранное</a>
		<a href="#" class="hamburgerMenu__item">Личный кабинет</a>		
	</div>
	</div>
</div>