<div class="header_topMenuBackgound">
	<div class="header_topMenu">
		<div class="header_topMenu__leftSide">
			<div href="#" class="header_topMenu__leftSide__item blog"><a href="#" class="header_topMenu__leftSide__item__text blog_link">Блог</a></div>
			<div href="#" class="header_topMenu__leftSide__item pay"><a href="#" class="header_topMenu__leftSide__item__text pay_link">Оплата</a></div>
			<div href="#" class="header_topMenu__leftSide__item delivery"><a href="#" class="header_topMenu__leftSide__item__text delivery_link">Доставка</a></div>
			<div href="#" class="header_topMenu__leftSide__item aboutUs"><a href="#" class="header_topMenu__leftSide__item__text aboutUs_link">О нас</a></div>
			<div href="#" class="header_topMenu__leftSide__item contacts"><a href="#" class="header_topMenu__leftSide__item__text contacts_link">Контакты</a></div>
		</div>
		<div class="header_topMenu__rightSide">
			<div class="header_topMenu__rightSide__item favorites">
				<img class="favorites__img" src="static/img/assets/header/favorit.png" alt="#">
				<a href="#" class="header_topMenu__rightSide__item__text favorites_link">Избранное</a>
			</div>
			<div class="header_topMenu__rightSide__item personalOffice">
				<label>
					<img class="personalOffice__img" src="static/img/assets/header/person.png" alt="#">
					<a href="#" class="header_topMenu__rightSide__item__text personalOffice_link">Личный кабинет</a>
				</label>
			</div>
		</div>
	</div>
</div>