<div class="header_middleContainer">
	<div class="header_logo">
		<a href="#" class="header_logo__link">
			<img class="header_logo__img" src="static/img/assets/header/logo.png" alt="">
		</a>
	</div>
	<div class="header_info">
		<div class="header_info__time">
			<img class="header_info__time__icon" src="static/img/assets/header/time.png" alt="">
			<p class="header_info__time__text">Время работы: с 9:00 до 19:00 (без выходных)</p>
		</div>
		<div class="header_info__map">
			<img class="header_info__map__icon" src="static/img/assets/header/map.png" alt="">
			<p class="header_info__map__text">Астана, Абая 67</p>
		</div>
		<div class="header_info__email">
			<img class="header_info__email__icon" src="static/img/assets/header/mail.png" alt="">
			<a href="mailto:#" class="header_info__email__text" title="Напишите нам">printpro@gmail.com</a>
		</div>
		<div class="header_info__phone">
			<img class="header_info__phone__icon" src="static/img/assets/header/phone.png" alt="">
			<div class="header_info__phone__text">
				<a href="tel:+77771455454" class="header_info__phone__text__link" title="Позвоните нам">8 777 145 54 54</a>
				<a href="tel:+77014988989" class="header_info__phone__text__link" title="Позвоните нам">8 701 498 89 89</a>
			</div>
		</div>
	</div>
</div>