<div class="header_middleContainer">
	<div class="header_middleContainer_item__logo"><img class="header_middleContainer_item__logo__img" src="static/img/assets/header/logo.png" alt=""></div>
	<div class="header_middleContainer_item__time">
		<img class="header_middleContainer_item__time__icon" src="static/img/assets/header/time.png" alt="">
		<p class="header_middleContainer_item__time__text">Время работы: с 9:00 до 19:00 (без выходных)</p>
	</div>
	<div class="header_middleContainer_item__map">
		<img class="header_middleContainer_item__map__icon" src="static/img/assets/header/map.png" alt="">
		<p class="header_middleContainer_item__map__text">Астана, Абая 67</p>
	</div>
	<div class="header_middleContainer_item__email">
		<img class="header_middleContainer_item__email__icon" src="static/img/assets/header/mail.png" alt="">
		<a href="#" class="header_middleContainer_item__email__text">printpro@gmail.com</a>
	</div>
	<div class="header_middleContainer_item__phone">
		<img class="header_middleContainer_item__phone__icon" src="static/img/assets/header/phone.png" alt="">
		<p class="header_middleContainer_item__phone__text">8 777 145 54 54 8 701 498 89 89</p>
	</div>
</div>