<div class="mainContainer">
	<p class="mainContainer_text">Главная  / Блог</p>
	<h1 class="mainContainer_h1">Блог</h1>
	<div class="mainContainer_blogsContainer">
		<div class="blogsContainer_item">
			<div class="blogsContainer_item__img"><img src="static/img/assets/mainContainer/blog_img.png" alt=""></div>
			<div class="blogsContainer_item__content">
				<p class="blogsContainer_item__content__date">12.07.2018</p>
				<a href="#" class="blogsContainer_item__content__link">Подарок от Meizu</a>
				<p class="blogsContainer_item__content__text">Действует для:  Юридических лиц - клиентов Розничных точек , Физических лиц - клиентов Розничных точек, Юридических лиц - клиентов Интернет-магазина и Физических лиц - клиентов Интернет-магазина</p>
			</div>
		</div>
		<div class="blogsContainer_item">
			<div class="blogsContainer_item__img"><img src="static/img/assets/mainContainer/blog_img.png" alt=""></div>
			<div class="blogsContainer_item__content">
				<p class="blogsContainer_item__content__date">12.07.2018</p>
				<a href="#" class="blogsContainer_item__content__link">Постоянные скидки в наших магазинах</a>
				<p class="blogsContainer_item__content__text">Действует для:  Юридических лиц - клиентов Розничных точек , Физических лиц - клиентов Розничных точек, Юридических лиц - клиентов Интернет-магазина и Физических лиц - клиентов Интернет-магазина...</p>
			</div>
		</div>
		<div class="blogsContainer_item">
			<div class="blogsContainer_item__img"><img src="static/img/assets/mainContainer/blog_img.png" alt=""></div>
			<div class="blogsContainer_item__content">
				<p class="blogsContainer_item__content__date">12.07.2018</p>
				<a href="#" class="blogsContainer_item__content__link">Подарок от Meizu</a>
				<p class="blogsContainer_item__content__text">Действует для:  Юридических лиц - клиентов Розничных точек , Физических лиц - клиентов Розничных точек, Юридических лиц - клиентов Интернет-магазина и Физических лиц - клиентов Интернет-магазина</p>
			</div>
		</div>
		<div class="blogsContainer_item">
			<div class="blogsContainer_item__img"><img src="static/img/assets/mainContainer/blog_img.png" alt=""></div>
			<div class="blogsContainer_item__content">
				<p class="blogsContainer_item__content__date">12.07.2018</p>
				<a href="#" class="blogsContainer_item__content__link">Постоянные скидки в наших магазинах</a>
				<p class="blogsContainer_item__content__text">Действует для:  Юридических лиц - клиентов Розничных точек , Физических лиц - клиентов Розничных точек, Юридических лиц - клиентов Интернет-магазина и Физических лиц - клиентов Интернет-магазина...</p>
			</div>
		</div>
	</div>
	<div class="mainContainer_articlesContainer">
		<p class="articlesContainer_text">Полезные статьи</p>
		<div class="articlesContainer_item">
			<a href="#" class="articlesContainer_item__link">Как выбрать картридж?</a>
			<p class="articlesContainer_item__text">Картридж он и в Африке картридж. Так думают многие...</p>
		</div>
		<div class="articlesContainer_item">
			<a href="#" class="articlesContainer_item__link">Картридж какой фирмы лучше?</a>
			<p class="articlesContainer_item__text">Картридж он и в Африке картридж. Так думают многие...</p>
		</div>
		<div class="articlesContainer_item">
			<a href="#" class="articlesContainer_item__link">Как выбрать картридж?</a>
			<p class="articlesContainer_item__text">Картридж он и в Африке картридж. Так думают многие...</p>
		</div>
		<a href="#" class="articlesContainer_link">Смотреть все статьи <img class="articlesContainer_link__arrow" src="static/img/assets/mainContainer/arrow_right.png" alt=""></a>
	</div>
	<div class="pageSelector">
		<div class="pageSelector_container">
			<a href="#" class="page_prev"><img src="static/img/assets/mainContainer/arrow_left.png" alt="" class="page_prev__icon"> Предыдущая</a>
			<div class="pages">
				<a href="#" class="pages_item active">1</a>
				<a href="#" class="pages_item">2</a>
				<a href="#" class="pages_item">3</a>
				<a href="#" class="pages_item">4</a>
				<a href="#" class="pages_item">5</a>
				<a href="#" class="pages_item">6</a>
				<a href="#" class="pages_item">7</a>
				<a href="#" class="pages_item">8</a>
				<a href="#" class="pages_item">9</a>
				<span class="pages_item">...</span>
				<a href="#" class="pages_item">25</a>
			</div>
			<a href="#" class="page_next">Следующая <img src="static/img/assets/mainContainer/arrow_right.png" alt="" class="page_next__icon"></a>
		</div>
	</div>
</div>